<div class="sidebar">
    <div class="sidebar_nav">
        <ul>
           <button class="logo_button"><img src="./assets/icons8-menu-48.png" alt="menu" class="logo_menu"></button>
            <li><a routerLinkActive="active" [routerLink]="'dashboard'">Dashboard</a> </li>
            <li><a routerLinkActive="active" [routerLink]="'loans'"> Loans</a></li>
            <li><a routerLinkActive="active" [routerLink]="'customers'">Customers</a></li>
            <li><a routerLinkActive="active" [routerLink]="'payments'">Payments</a></li>
            <li><a routerLinkActive="active" [routerLink]="'invoices'">Invoices</a></li>
            <li><a routerLinkActive="active" [routerLink]="'loan-plans'">Loan Plans</a></li>
            <li><a routerLinkActive="active" [routerLink]="'reports'">Reports</a></li>
            <li><a routerLinkActive="active" [routerLink]="'settings'">Settings</a></li>
        </ul>
    </div>
</div>