<div class="customer-form">
  <form class="form-border" [formGroup]="form">
    <div>
      <label class="form-label">FirstName</label>
      <input type="text" class="form-control" name="firstName" formControlName="firstName" required>
    </div>
    <div>
      <label class="form-label">LastName</label>
      <input type="text" class="form-control" name="lastName" formControlName="lastName" required>
    </div>
    <div>
      <label class="form-label">Email address</label>
      <input type="email" class="form-control" name="emailAddress" formControlName="emailAddress" required>
    </div>
    <div>
      <label claess="form-label">PhoneNumber</label>
      <input type="text" class="form-control" name="phoneNumber" formControlName="phoneNumber" required>
    </div>
    <div>
      <label class="form-label">D.O.B</label>
      <input type="text" class="form-control" name="dob" formControlName="dob" required>
    </div>
    <div>
      <label class="form-label">DepartMent</label>
      <input type="text" class="form-control" name="department" formControlName="department" required>
    </div>
    <br>
  
      <button type="submit" class="btn btn-primary" (click)='submitForm()'> Save</button>


  </form>
</div>